@mixin border-radius() {
    border-radius: 0px 0px 12px 12px;
}

.block--icon{
    background: #FFFFFF;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.block--items-services{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.block--shadow-dark{
    background: #CACADB;
    @include border-radius();
    width: 335px;
    height: 10px;
}

.block--shadow-light{
    background: #E7E7F2;
    @include border-radius();
    width: 295px;
    height: 10px;
}

@media (min-width: 768px){
    .block--item-services{
        width: calc(50% - 30px);
    }
    .block--items-services{
        gap: 60px;
    }
    .block--shadow-dark{
        width: 728px;
    }
    .block--shadow-light{
        width: 688px;
    }
}

@media (min-width: 1024px){
    .block--item-services{
        width: calc(33.33% - 40px);
    }
    .block--shadow-dark{
        width: 984px;
    }
    .block--shadow-light{
        width: 944px;
    }
}

@media (min-width: 1440px){
    .block--shadow-dark{
        width: 1400px;
    }
    .block--shadow-light{
        width: 1360px;
    }
}
