.block--icon{
    background: #FFFFFF;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.block--items-services{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

@media (min-width: 768px){
    .block--item-services{
        width: calc(50% - 30px);
    }
    .block--items-services{
        gap: 60px;
    }
}

@media (min-width: 1024px){
    .block--item-services{
        width: calc(33.33% - 40px);
    }
}


