@mixin font($fs, $lh, $fw) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
}

.text--title{
    @include font(30px, 37px, 700);
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
}

.text--subtitle{
    @include font(22px, 27px, 700);
    color: #24A3FF;
    margin-bottom: 15px;
}

.text--description{
    @include font(16px, 26px, 400);
    color: #FFFFFF;
    margin: 0;;
}